.container {
  width: 100%;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: var(--container-padding);
}

.medium {
  max-width: var(--container-width-md);
}

.narrow {
  max-width: var(--container-width-narrow);
}

@media (min-width: 1024px) {
  .container {
    padding-inline: 3rem;
  }
}
